.navbar {
    height: 120px;
    display: flex;
    justify-content: space-between;
    position: relative;
    z-index: 1;
}


.navbar img {
    top: 0;
    height: 80px;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
    cursor: pointer;
}

.hamburger-menu {
    position: absolute;
    top: 50%;
    right: 50px;
    transform: translateY(-50%);
    cursor: pointer;
}

.line{
    height: 2px;
    width: 40px;
    background: rgb(185, 185, 185);
}

.line-top, .line-middle {
    margin-bottom: 10px;
}