@import "./variables";

.portfolio {
    min-height: 100vh;
    background: $bgColor;
    padding-bottom: 100px;
    position: relative;
}

.portfolio-container {
  margin: 0 auto;
  width: 80%;

}

.portfolio-title h2 {
    font-size: 3rem;
    color: white;
}

.portfolio-title p{
    margin-top: 1rem;
    color: $secondaryColor;
}


.portfolio-grid {
    width: 90%;
    margin: 0 auto;
   
}

.project {
    width: 100%;
    height: 100%;
    -webkit-box-shadow: 1px 4px 15px 3px rgba(26,26,26,1);
    -moz-box-shadow: 1px 4px 15px 3px rgba(26,26,26,1);
    box-shadow: 1px 4px 15px 3px rgba(26,26,26,1);
    filter: brightness(90%);
    button {
        outline: none;
    }
    img {
        height: auto;
        width: 100%;
        
    }
}

.row1 {
    display: flex;

}

.row2 {
    display: flex;
}

.project-container {
    width:50%;
    height: auto;
    margin-right: 30px;
    overflow: hidden;
    margin-top: 40px;
    
}

.prjct-4 {
    border: 1px solid rgba(255, 255, 255, .7)
}

.project {
    transition: all .2s ease-in-out;
    position: relative;
    height: 100%;
     img {
        transition: all 0.2s ease-in-out
     }
}

.project:hover img{
    transform: scale(1.1);
    opacity: .2;
}

.project-1 h5, .project-2 h5, .project-3 h5, .project-4 h5{
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}


.project-btn {
    font-family: 'Staatliches', cursive;
    font-size: 20px;
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 2px 20px;
    background: rgb(230, 230, 230);
    border: 2px solid black;
    transition: all 0.2s ease-in-out;
    opacity: 0;
    cursor: pointer;
}

.project-1:hover {
    .btn1 {
        opacity: 1;
    }
    h5 {
        opacity: 1;
    }
    
}

.project-2:hover {
    .btn2 {
        opacity: 1;
    }
    h5 {
        opacity: 1;
    }
}

.project-3:hover {
    .btn3 {
        opacity: 1;
    }
    h5 {
        opacity: 1;
    }
}

.project-4:hover {
    .btn4 {
        opacity: 1;
    }
    h5 {
        opacity: 1;
    }
}

.project-modal {
    height:  500px;
    width:  900px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.2s ease-in-out;
    opacity: 0;
    z-index: 3;
    
}

.modal-grid {
    display: grid;
    grid-template-columns: 1fr .7fr;
    grid-template-rows: 1fr;
}

.modal-picture img {
    height: 500px;
    width: 100%;
}

.modal-info {
    height: 500px;
    background: #343A41;
    padding: 10px 15px;
    position: relative;
}

.modal-title {
    h5 {
        color: rgb(163, 163, 163);
        font-size: 20px;
    }
    h3 {
        color: white;
        font-size: 30px;
    }
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 2rem;
    color: rgb(163, 163, 163);
    transition: all 0.1s ease-in-out;
    cursor: pointer;
    &:hover {
        transform: scale(1.2);
    }
}

.project-technology {
    list-style-type: none;
    margin-top: 5px;
    margin-bottom: 10px;
    li {
        display: inline-block;
        margin-right: 5px;
        margin-bottom: 5px;
        border: 1px solid rgba(12, 12, 12, .5);
        padding: 5px 5px;
        color: rgb(163, 163, 163);
        
    }
}


.modal-about{
    h5 {
        font-size: 20px;
        margin-bottom: 20px;
        color: rgb(163, 163, 163);
    }
    p {
        color: rgb(163, 163, 163);
        font-family: 'Roboto Mono', monospace;
        font-size: 13px;
        line-height: 20px;
    }
}

.modal-buttons  {
    button {
        font-family: 'Staatliches', cursive;
        font-size: 15px;
        padding: 3px 10px;
        cursor: pointer;
    }
    .modal-btn-1 {
        position: absolute;
        bottom: 10%;
        left: 30%;
        
    }
    .eye, .code {
        transform: translateY(15%);
    }
    .modal-btn-2 {
        position: absolute;
        bottom: 10%;
        right: 30%;
    }
    
}

.modal-open {
    visibility: visible;
    opacity: 1;
    z-index: 3;
    
}

.modal-closed {
    visibility: hidden;
    opacity: 0;
}


.dark-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    z-index: 2;
    transition: all .3s ease-in-out;
}

